main {
  background: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.2)
  ),
  url("../../assets/images/volvo_s40_interrior.jpg");
  background-size: cover;
}

.home {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  color: rgba(240, 240, 240, .7);

  &__brand {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(240, 240, 240, .3);

    &--model {
      color: orange;
      font-weight: 700;
    }
  }

  h2 {
    font-size: 1.7em;
  }

  .start_btn {
    display: inline-block;
    margin-top: 70px;
    padding: 1rem 2.5rem;
    background: orange;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
  }
}